/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
  background-color: #050404;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background: #00adb5;
  color: #fcf2f2;
  padding: 40px 20px;
  text-align: center;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  margin-top: 15px;
  font-size: 1.1rem;
}

/* Sections */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fcf2f2;
}

/* About */
.about p {

  text-align: center;
  max-width: 700px;
  margin: auto;
  color: #fcf2f2;
}

a:link {
  color: rgb(41, 219, 231);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 255, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* Projects */
.projects {
  background: #969696;
  margin: auto;
  padding: 35px;
  border-radius: 15px;
  border-bottom: 5px solid #00adb5;

}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  margin: 15px 0;
  border-radius: 9px;
  border-bottom: 5px solid #001bb5;
  border-radius: 5px;
  border-right:  5px solid #001bb5; 
  border-top-right-radius: 9px; 
  border-bottom-right-radius: 9px;
  transition-duration: 1s;
  text-align: center;
}


.project-card:hover{
    transform: translateX(-30px);
}

.project-card-2{
  background: #f4f4f4;
  padding: 20px;
  margin: 15px 0;
  border-radius: 9px;
  border-bottom: 5px solid #001bb5;
  border-radius: 5px;
  border-right:  5px solid #001bb5; 
  border-top-right-radius: 9px; 
  border-bottom-right-radius: 9px;
  transition-duration: 2s;
  text-align: center;
}

.project-card-2:hover{
    transform: translateX(30px);
}

/* Contact */
.contact {
  text-align: center;
  background: #969696;;
  margin-top: 25px;
  border-radius: 15px;
  color: #fcf2f2;
  border-bottom: 5px solid #00adb5;
  padding: 15px;
  line-height: normal;
}


/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.footer p{
  color:#fcf2f2;
}
